.title {
    font-size: 2rem;
    margin-top: 1rem;
}
#productcart {
    width: 100%;
    height: 120px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 15px;
    
}
#cartsubmit{
    width: 23.2%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 15px;
    display: flex;
    flex-direction: column;
}
.card-text{
    margin-top: 10px;
    margin-bottom: 10px;
}
#detailcart{
    display: flex;
    justify-content: space-between;
}
#sumprice{
    display: flex;
    justify-content: space-between;
}
#detailproduct{
    padding: 10px;
}
#btnsubmit {
    display: flex;
    padding: 10px 40px 10px 40px;
    background-color: #FFBB54;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
}

.card-title{
    font-weight: bold;
}
.row{
    display: flex;
    justify-content: space-between;
}
img {
    border-radius: 15px;
}