.nameproduct {
    padding: 20px;
}

.priceproduct{
    padding-left:20px ;
    bottom: 0;
}

.row{
    margin: 0;
    padding: 0;
}
#product{
    margin-left: 10rem;
}
#imgproduct{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
#name{
    height: 60px;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 22%;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px auto;
    background: #fafafa;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4  {
    font-weight: bold;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
#card:hover {
    transform: scale(1.02);
    transition: 0.2s;
}
.product-details h4:hover {
    color: #fbb72c;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links #whislist:hover {
    color: #fbb72c;
}
.product-links #cart:hover {
    color: #fbb72c;
}

img{
    border-radius: 5px;
}
#imgrec{
    height: 400px;
}
#cardss{
    height:400px;    
}
#imgproduct{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.topseller {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.all{
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.arrow{
    padding: 5px;
}

.card {
    width: 20rem;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 15px;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.2s;
}
.title{
    font-size: 2rem;
    margin-top: 1rem;
}

.cards {
    margin-top: 1rem;
    display: flex;
}
#categories{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}
#categories i.arrow{
    position: absolute;
    height: 36px;
    width: 36px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    z-index: 100;
    transform: scale(0.94) translateY(-50%);
    transition: all 0.3s linear;
    cursor: pointer;
}
i.arrow:active{
    transform: scale(0.94) translateY(-50%);
}
#carousel{
    display: flex;
    transition: all 0.3s ease;
}

i#prev{
    left: 10px;
}
i#next{
    right: 10px;
}
#category{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}